* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.logo {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.container {
  display: none;
}

ul li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #000;
  font-size: 1.4em;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.2s;
}

header a:hover {
  background-color: #0066ff57;
  color: #000;
}

.active a {
  background-color: #0066ff !important;
  color: #fff !important;
}

header {
  position: fixed;
  top: 0;
  height: auto;
  z-index: 999;
  width: 100vw;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .5); */
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
}

.nav-btn {
  width: 20%;
}

#main {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(246, 249, 252, 0.8);
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  width: 50%;
}

h1 {
  font-family: "Prompt", sans-serif;
  font-size: 3em;
  margin-bottom: 3%;
  text-shadow: 0 0 5px #fff;
}

h2 {
  text-shadow: 0 0 5px #fff;
  font-family: "Prompt", sans-serif;
  font-size: 2em;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #6ba9ff;
  width: 30vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }

  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  100% {
    transform: scale(1) translate(10px, -30px);
  }
}

main p {
  font-family: "Prompt", sans-serif;
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 3%;
}

.btn {
  font-family: "Prompt", sans-serif;
  font-size: 1.2em;
  text-align: center;
  background-color: #0066ff;
  color: #fff;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px #0000004d;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 102, 255, 0.8);
  box-shadow: 0 0 15px #0066ff;
  transition: 0.5s ease;
}

/* SERVICES START */

#services {
  min-height: 100vh;
  background-color: #e4efff;
}

#services > h2,
#outcome > h2,
#testimonial h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 2.5em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: 20%;
  min-height: 250px;
  text-align: center;
  margin: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1%;
  border-radius: 15px;
  background-color: #fff;
  margin-top: 0.5%;
  margin-bottom: 1%;
}

.service:hover {
  background-color: #f6f9fccc;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.new {
  background-color: #0066ff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 1.3rem;
  animation: new-animate 1.5s linear infinite;
  /* transition: opacity 2s ease; */
}

/* animation blink new-animate */
@keyframes new-animate {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }

  50%{
    opacity: 1;
  }
}

p {
  font-family: "Prompt", sans-serif;
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 3%;
  padding: 25px;
}

.head {
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}

.service i {
  display: block;
  font-size: 2.2em;
  margin-bottom: 10px;
}

#services .btn {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* OUTCOME */

#outcome {
  background-color: #f6f9fccc;
  padding: 5%;
  padding-top: 0;
  min-height: 100vh;
  height: auto;
}

#outcome .block {
  display: flex;
  flex-direction: row;
  width: 45%;
  min-height: 350px;
  background-color: #a3c4f1;
  margin: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#outcome .block:hover {
  background-color: #c0daff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

#outcome img,
.text {
  width: 50%;
}

.text h2 {
  text-align: center;
}

#testimonials {
  min-height: 45vh;
  height: auto;
  background-color: #e4efff;
}

#testimonials h2,
#customers h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 2.5em;
}

.flex-testimonial {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 35vh;
}

.testimonial {
  width: 30%;
  height: 300px;
  background-color: #a3c4f1;
  margin: 1.75%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  animation: testimonial 15s ease infinite;
}

.flex-testimonial:hover .testimonial {
  animation: none;
}

/* animation testimonial */

@keyframes testimonial {
  0% {
    transform: translateX(80%);
  }

  100% {
    transform: translateX(-80%);
  }
}

#customers {
  min-height: 55vh;
  height: auto;
  background-color: #e4efff;
}

#customers img {
  width: 10%;
}

@media (min-width: 240px) and (max-width: 860px) {
  .service {
    width: 46% !important;
    margin: 2% 2% !important;
  }

  #outcome .block {
    width: 96% !important;
    margin: 2% 2%;
  }

  #services .btn {
    width: 60% !important;
    margin-left: 20% !important;
  }

  #main h2 {
    margin-left: 5%;
  }
}

@media (min-width: 240px) and (max-width: 590px) {
  #main {
    display: block;
  }

  #main .block {
    width: 90%;
    margin-left: 5%;
  }

  #main h2 {
    margin-left: 2%;
  }

  #main p {
    padding-left: 0;
    padding-top: 10px;
  }
  .service {
    width: 90% !important;
    margin-left: 5% !important;
  }

  #outcome .block {
    display: block;
  }

  #outcome .text {
    width: 90%;
  }
  #outcome img {
    width: 50%;
    margin-left: 25%;
  }

  .testimonial {
    height: fit-content;
  }
  .flex-testimonial {
    height: 10vh !important;
  }

  #testimonials {
    min-height: 20vh !important;
  }

  h1 {
    font-size: 2.3em;
  }
  h2,
  #services > h2,
  #outcome > h2,
  #testimonial h2 {
    font-size: 1.6em;
    padding-bottom: 0;
  }
}

@media (min-width: 240px) and (max-width: 450px) {
  .blob {
    width: 40%;
  }
  p {
    text-align: left;
    padding-top: 10px;
  }
}

/* PRICING */
#pricing {
  min-height: 100vh;
  height: auto;
  background: rgb(0, 102, 255);
  background: radial-gradient(
    circle,
    rgba(0, 102, 255, 0.3029586834733894) 0%,
    rgba(228, 239, 255, 0.43461134453781514) 100%
  );
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 50px;
}

#pricing h1 {
  color: #000;
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 0;
}

#pricing p {
  width: 60%;
  margin-left: 20%;
  text-align: center;
}

#pricing .block {
  width: 25%;
  background-color: #fff;
  padding: 20px;
  margin-left: 6%;
  border-radius: 20px;
  min-height: 50vh;
  height: auto;
  font-family: "Prompt", sans-serif;
  font-size: 1.2em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transition: 0.3s all ease;
  /* margin-top: 1%; */
}

#pricing .block:not(:hover) {
  transform: scale(0.9) translateY(-7%);
}

#pricing .block:hover {
  background-image: radial-gradient(
    circle,
    #c1d6f8,
    #d5dffa,
    #ced6f7,
    #f3f4fd,
    #dfe9f4
  ) !important;
}

#pricing .block:hover .price {
  background-color: #d6e4fa !important;
}

#pricing ul li {
  list-style-type: square;
  margin-bottom: 10px;
}

#pricing .unactive {
  opacity: 0.5 !important ;
  text-decoration: line-through;
}

.pricing-name-data {
  padding: 0 10px;
  padding-top: 0;
  margin-bottom: 20px;
  border-bottom: 2px SOLID #a3c4f1;
  width: 90%;
}

.pricing-name-data .flex {
  justify-content: space-between;
  margin-bottom: 10px;
}

#pricing .name-details {
  display: block;
  justify-content: space-between;
}

.name {
  font-weight: bold;
}

.price {
  background-color: #edf4ff;
  padding: 5px 10px;
  border-radius: 10px;
}

#pricing .btn {
  font-size: 1.1em;
  width: 90%;
  margin-top: 25px;
}

.recommended {
  /* background-color: #7FD1AE !important; */
  background-image: radial-gradient(
    circle,
    #c1d6f8,
    #d5dffa,
    #e5e9fb,
    #f3f4fd,
    #ffffff
  ) !important;
  margin-top: -3% !important;
}

.recommended:hover {
  background-image: radial-gradient(
    circle,
    #c1d6f8,
    #d5dffa,
    #ced6f7,
    #f3f4fd,
    #dfe9f4
  ) !important;
}

.recommended:not(:hover) {
  transform: scale(1) translateY(0%) !important;
}

.recommended .pricing-name-data {
  border-bottom: 2px SOLID #fff;
}

.recommended .price {
  background-color: #d6e4fa !important;
}
/* PRICING RESPONSIVE */

@media (min-width: 700px) and (max-width: 972px) {
  .pricing-flex {
    flex-direction: column-reverse !important;
    flex-wrap: initial;
    align-items: flex-start;
  }
  #pricing .block {
    display: block !important;
    width: 60% !important;
    margin-left: 20% !important;

    /* padding: 0; */
  }
  .recommended {
    margin-bottom: 5%;
  }
  .pricing-flex ul {
    padding-left: 15%;
    margin-bottom: 40px;
  }
  #pricing .btn {
    display: block;
    /* width: 80% !important; */
    margin-left: 5%;
  }
}

@media (min-width: 240px) and (max-width: 700px) {
  .pricing-flex ul {
    padding-left: 2%;
    margin-bottom: 40px;
  }
  .pricing-flex {
    flex-direction: column-reverse !important;
    flex-wrap: initial;
  }
  #pricing .block {
    width: 90% !important;
    align-items: flex-start;
  }
  .recommended {
    margin-bottom: 12%;
  }
}

@media (min-width: 200px) and (max-width: 850px) {
  header {
    display: none;
  }
  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }

  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: 0 0 2000px rgba(255, 255, 255, 0.5);
    background-color: #fff;
    height: 100vh;
    top: 50px;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: absolute;
    z-index: 99999;
  }

  .nav-btn {
    width: 100%;
    margin-top: 25px;
  }

  .nav-btn li a {
    background-color: #3b84f2c7;
    border-radius: 10px;
  }

  .active a {
    border-radius: 10px;
    color: #fff !important;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #0e2431;
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ body {
    position: fixed !important;
  }

  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }

  .nav-container input[type="checkbox"]:checked ~ * {
    overflow-x: hidden;
  }
}



/* services page */

.services-main {

  min-height: 60vh;
  height: auto;
  background-color: #f7faff;
  justify-content: space-evenly;
  display: flex;
  flex-direction:row;
  margin-top: 90px;
  padding: 15px;
}

.services-features >h2,
.useful-features > h2 ,
.college-features >h2{
    margin-left: 30px;
    padding-top: 60px;
    padding-bottom :60px; ;
    font-size: 2em;
}
.services-main .empty-box {
  justify-content: center;
  align-items: center;
 

}
.services-main .services {
  justify-content: center;
  display: flex;
  flex-direction:column;
  width: 50%;
  align-items: center;
}

.services-main .services h1{
 font-size: 2em;
 font-weight:200;
 align-items: center;
margin: 10%;
 line-height: 1.6;

}
.services-main .btn{
  border-radius: 0%;
  
}
.services-main .emp-box{
  width: 45vw;
  height: 50vh;
  margin: 30px 30px 30px 30px;
  background-color:#dddddd ;
 
}


/* features */

.services-features .service {
  display: flex;
  flex-direction: column;
  min-width: 45vw;
  min-height: 80vh;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 15px;
  margin: 2%;
}
 .services-features.flex{
  padding: 15px;
  align-items: center;
  min-height: 40vh;
}

.services-features .service p {
 padding:0px
}

.services-features {

  min-height: 60vh;
}

.services-features  .circle {
  min-height: 200px;
  width: 200px;
  background-color:#dddddd ;
  border-radius: 50%;
  border: 1px solid #dddddd;
}

.services-features .btn{
  border-radius: 0%;

}

/* features */

.useful-features{
  min-height: 40vh;
  padding: 15px;
  background-color: #f7faff;
  justify-content: space-evenly;

}

.useful-features h3{

  font-size: 1.5rem;
  padding: 15px 0px 50px 30px;
}

 .useful-features .empty-box {
  min-height: 30vh;

  background-color:#dddddd  ;
  border: 1px solid #b0b0b0;
  margin-bottom: 10%;
}
.useful-features .flex .service {
  border-radius: 0%;
  width: 28vw;
  min-height: 60vh;
  align-items: center;
  justify-content: space-between;
}
  /* college features */

  .college-features{
    min-height: 40vh;
    width: 100%;
    padding: 15px;
    
  }
  .college-features h3{
    font-size: 1.5rem;
    padding: 0px 0px 50px 30px;
  }
  
  .college-features .service{
    min-height: 60vh;
    width: 28.2vw;
    justify-content: space-evenly;
  }
  .college-features .empty-box{
    min-height: 30vh;
    background-color: #dddddd;
    margin-bottom: 10%;
  }

  /* choose-us */
.choose-us {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  height: auto;
  padding: 0px 60px 0px 30px;
  background-color: #f7faff;
  justify-content: space-between;
}

.choose-us .feature {
  align-items: center;
  justify-content: center;
  width: 45%;
  min-height:40vh;
 
}
.choose-us .feature h2 {
  padding: 30px 20px;
}
.choose-us .feature .point {
  display: flex;
  flex-direction: row;
  
}
.choose-us .circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#dddddd ;
}


.choose-us .feature .quote .point p {
  padding-top: 7px;
}
.choose-us .empty-box {
  background-color:#dddddd ;
  width: 45vw;
  min-height: 60vh;
  border: 1px solid #b0b0b0;
}

/* contact-us */

.contact-us {
  display: flex;
  min-height: 60vh;
  flex-direction: row;
  justify-content: space-between;
  padding: 65px;
  width: 100%;
}

.contact-us .empty-box {
  width: 35vw;
  background-color: #dddddd;
  min-height: 50vh;
}


.contact-us .flex{

  width: 55%;
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-between;
}
 
.form input {
  height: 5vh;
  width: 46%;
}
.contact-us .form .firstname {
  margin-right: 15px;
}
.contact-us .form .phone {
  width: 96%;
  margin: 20px 0px 0px 0px;
}
.contact-us .form .email {
width: 96%;
margin: 20px 0px 0px 0px;
}

.contact-us .form .send-btn {
  margin-top: 25px;
  background-color: #0066ff;
  margin-left: 35%;
  width: 20%;
}


/*About us  */

.about-us {
  background-color: #f7faff;
  display: flex;
  flex-direction: column;
}
.about-us .logo {
padding-left: 160px;
width: 20vw;
}
.about-us .flex h2{
  width: 20vw;
}

.about-us .flex .about {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex: 0.85;
  gap: 1rem;
}

.about-us .logo h3 {
  align-items: center;
  padding: 20px;
  padding-bottom: 0%;
}

.about-us .register .btn {
  border-radius: 0%; 
}
.about-us .sign-in .login .btn {
    
  border-radius: 15px;
  background-color: white;
  color: #4f93f8;
  border: 2px solid #4f93f8;
  margin-top: 15%;
}

hr.solid {
  border-top: 3px solid #dddddd;
  margin-top: 35px;
  margin-left: 5%;
  width: 85%;
}
.about-us .flex h3 {
  font-size: 1.5rem;
  padding: 0;
}

.about-us .flex {
  display: flex;
  flex-direction: row;;
  padding: 40px;
 
}
.about-us .flex .quote{
  width: 65%;
  padding: 20px;
}
.about-us .flex .social-media{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.social-media i{
  font-size: 30px !important;
  margin-left: 15px;
  background-color: #0066ff;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}

.social-media i:hover{
    opacity: 0.7;
}

/*responsive services  */

@media (min-width: 240px) and (max-width: 800px) {
  .services-main{
    flex-direction: column;
    margin-top: 0%;
  }
  .contact-us .empty-box{
    min-height: 30vh;
    width: 100%;
  }
  .services-main .empty-box{
    width: 100%;
    min-height: 50vh;
  }
  .useful-features .flex .service {

    min-height: 55vh;
  }

  .contact-us h2{
    width: 90%;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .college-features{
    padding:0px;
  }
  
  .choose-us .feature h2 {

    padding-top: 30px;
  }
  .contact-us{
    flex-direction: column;
    width: 100%;
    padding: 15px;
    margin-bottom: 10%;  
  }
  .contact-us .flex h2 {
    font-size: 1.2rem;
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
  }
  .contact-us .form{
    width: 100%;
  }

  .contact-us .form input{
    width: 100%;
    margin-bottom: 5%;
  }
  .contact-us .form .phone {

    width: 100%;
  }
  .contact-us .form .email{
    width: 100%;
  } 

  
  .about-us .flex{
    padding: 0%;
  }
  .choose-us .feature .quote{
    padding: 0%;
  }
  .useful-features{
    padding: 0px;
  }
  .choose-us .empty-box{
    min-height: 35vh;
    width: 100%;
  }
  
  .services .block {
    flex-direction: column;
  }

  .services-main .services {
    flex-direction: column;
    padding: 15px;
    width: 100%;
  }
  .services-main .emp-box{
    width: 100%;
    margin: 0%;
  }
  .services-main .services h2{
    width: 100%;
  }

  .choose-us {
    flex-direction: column;

    padding: 15px;
  }
.choose-us .feature {
    width: 100%;
}

.services h3{
    font-size: 1rem;
    padding: 0%;

}
.about-us .flex .about{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.services-features >h2, .useful-features > h2, .college-features >h2{
  padding-top: 30px;
  padding-bottom: 25px;
}
.contact-us .flex{
  width: 100%;
  padding: 10px;
  flex-direction: row;
  padding: 20px;
}
.about-us{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
}

@media(max-width:370px){
  .choose-us .feature .point{
    display: block;
  }
}

