#content {
    width: 100%;
    margin: 0;
    padding-bottom: 10%;
}

.label {
    margin-top: 0;
}

.address-flex {
    padding: 0 12%;
}

.box {
    width: 50%;
}

#form {
    background: rgba(255, 255, 255, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.175);
    position: relative;
    z-index: 999;
}


.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #6ba9ff;
    width: 30vmax;
    z-index: 1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}


@keyframes move {
    0% {
        transform: scale(1) translate(10px, -30px);
    }

    38% {
        transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    }

    40% {
        transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    }

    78% {
        transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    }

    80% {
        transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    }

    100% {
        transform: scale(1) translate(10px, -30px);
    }
}

.animated {
    position: absolute;
    bottom: 0;
    right: 0;
    /* position: relative; */
    height: 50%;
    width: 50%;
    z-index: 3;
}

.alert {
    position: relative;
}

input,
select {
    height: 30px;
    padding: 5px;
}